h2 {
    width: fit-content;
    max-width: 80vw;
    font-weight: 500;
    font-variant: small-caps;
    padding-right: 0.5em;
    margin: 0;
    margin-bottom: 0.5em;
    display: inline-block;
    }

h3 {
    width: fit-content;
    max-width: 80vw;
    font-weight: 500;
    font-variant: small-caps;
    padding-right: 0.5em;
    margin: 0;
    margin-bottom: 0.5em;
    display: inline-block;
    }
        

#header a {
margin-right: 0.2em;
font-size: large;
color: #666;
}
    
body {
-webkit-text-size-adjust: 100%;
background-color: #fcf8f1;
font-family: "Saira";
color: #000000;
font-size: 11pt;
font-weight: 300;
font-feature-settings: "onum" 1;
}

.date {
    font-size: 8pt;
    font-style: italic;
    margin-top: 10px;
    font-weight: 100;
}

#returntocard {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 0;
    width: 40px;
    height: 40px;
    max-width: 18vw;
    font-size: large;
  }

.blog-preview {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
}

.blog-card a {
    text-decoration: none;
    color: inherit;
}

.blog-card:hover {
    background-color: orange;
}

.blog-text {
    position: relative;
    flex: 1;
    margin-right: 20px;
}

.blog-card h3 {
    margin-top: 0;
}

.blog-card p {
    margin: 0;
    color: #555;
    line-height: 1.4;
}

.blog-card img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.tags {
    display: inline-block;
    vertical-align: top;
}

.tag {
    display: inline-block;
    vertical-align: top;
    padding: 2px 5px;
    margin: 5px;
    font-size: 0.8em;
    color: white;
    border-radius: 5px;
}

.tag-science {
    background-color: #419c44; /* Green */
}

.tag-personal {
    background-color: #4ba1e8; /* Blue */
}

.tag-news {
    background-color: #ee3d37; 
}

#filter-buttons {
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: orange;
}